
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
} */

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  min-height: 100vh;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}


/* body{
    max-height: 100vh;
    background: #efeff2;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.calculator {
    width: 300px;
    height: 500px;
    /* box-shadow: 4px 4px 30px rgb(0, 0, 0, 0.3); */
    border-radius: 12px;
    background-color: rgb(28, 24, 24,0);
    overflow: hidden;
}

.conatiner {
    min-height: 80vh;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
}

form input {
    height: 150px;
    width: 300px;
    border:solid 2px rgba(79, 211, 123, 0.2);
    /* border: none; */
    border-radius: 12px;
    padding: 1rem;
    text-align: right;
    background: rgba(50, 49, 49, 0);
    color: white;
    font-size: 2rem;
    /* pointer-events: none; */
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

button {
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid rgb(0, 0, 0);
    opacity: 0.;
    height: 52px;
    width: 60px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
}

.btn-yellow{
    background-color:orange;
    color: white;
}
.btn-grey{
    background-color: grey;
    color:black;
}
.btn-red{
background-color: red;
color:black;
}
.btn-blue{
background-color: blue;
color:black;
}